<?php

function cityName($numero) {
            if ($numero < "220" && $numero >= "10") {
                    return "New York, NY";
            } elseif ($numero < "270" && $numero >= "220") {
                    return "Brooklyn, NY";
            } elseif ($numero < "280" && $numero >= "270") {
                    return "Queens, NY";
            } elseif ($numero < "290" && $numero >= "280") {
                    return "The Bronx, NY";
            } elseif ($numero < "300" && $numero >= "290") {
                    return "Staten Island, NY";
            } elseif ($numero < "370" && $numero >= "330") {
                    return "Philadelphia, PA";
            } else {
                return "";
            }
            }


			$args = array(
				'post_type' => 'listing',
				'post_status'  => 'publish',
				'post__not_in' => array($post->ID),
				'orderby' => 'date',
				'order' => 'DESC',
				'meta_key' => 'featured_events',
				'meta_value' => 'on',
				'posts_per_page' => 1
			);	
			$featured = new WP_Query($args);
			if ($featured->have_posts()) : while ($featured->have_posts()) : $featured->the_post();
				$notes = get_post_meta($event['ID'], 'notes', true);
                $opening =  date("F d", get_post_meta($post->ID, 'thestart', true));
                $thevenue = get_post_meta($post->ID, 'thevenue', true);
                $website = get_post_meta($post->ID, 'website', true);
                $oneoff = get_post_meta($post->ID, 'oneoff', true);
                if( $oneoff == 'on' ){
                    $venue = get_post_meta($post->ID, 'thevenuename', true);
                    $address = get_post_meta($post->ID, 'address', true);
                    $address2 = get_post_meta($post->ID, 'address2', true);
                    $city = get_post_meta($post->ID, 'city', true);
                    $state = get_post_meta($post->ID, 'state', true);
                    $phone = get_post_meta($post->ID, 'phone', true);
                    $directlink = get_post_meta($post->ID, 'direct_link', true);
                }else{
                    $venue = get_the_title($thevenue);
                    $address = get_post_meta($thevenue, 'address', true);
                    $address2 = get_post_meta($thevenue, 'address2', true);
                    $city = get_post_meta($thevenue, 'city', true);
                    $state = get_post_meta($thevenue, 'state', true);
                    $phone = get_post_meta($thevenue, 'phone', true);
                    $directlink = get_post_meta($thevenue, 'direct_link', true);
                }
				?>
				<div id="featured">
					<div id="thumb-new">
				<?php the_post_thumbnail(); ?>
					</div>
					<h3><?php the_title()?></h3>
                    <h2><?php echo $opening ?></h2>
					<div id="gallery" class="info"><?php if($website !== ''){ ?><a target="_blank" href="<?php echo $website?>"><?php } ?><?php echo $venue ?><?php if($website !== ''){ ?></a><?php } ?></div>
					<div id="address" class="info"><?php echo $address; ?><?php if($address2 != ''){echo ' ' . $address2;}; ?>, <?php echo $city.', '.$state; ?></div>
					<div id="phone" class="info"><?php echo $phone; ?></div>
					<div id="excerpt">
						<?php the_excerpt();?>
					</div>
                    <div class="notes">
                    <?php echo $notes ?>
                    </div>
					<div class="info">
						<?php
						if($directlink == 'on'){
							?>
							<a href="<?php echo $website?>" target="_blank"><?php echo $website?></a>
							<?php
						}else{
							?>
							<?php echo $website?>
							<?php
						}
						?>
                        
                    
					
					</div>
				</div>
				<?php

			endwhile;
			endif;
			?>
		<div id="events" class="archive_list listing_events">
            <div class="events-extra">
            <div class="events-tip">
            <em>artcritical prides itself on having the most comprehensive visual arts listings in New York City, so if you see something (or don't), please say something: <a href="mailto:listings@artcritical.com">listings@artcritical.com</a></em>
            </div>
            <div class="events-print">
            <span class="print">
                <a href="#" onclick="window.print();return false;">print</a>
            </span>
            </div>
            </div>
			<?php
            $time = date('d.m.Y',strtotime("-1 days"));

			$query = "SELECT `wp_posts`.`post_title` , `wp_posts`.`ID` , `end`.`meta_value` AS `enddate` , `event`.`meta_value` AS `event_check`, `quartier`.`meta_value` AS `thequartier`, `street`.`meta_value` AS `thestreet`, `number`.`meta_value` AS `thenumber`, `block`.`meta_value` AS `theblock`

			FROM `wp_posts` , `wp_postmeta` AS `end` , `wp_postmeta` AS `event`, `wp_postmeta` AS `quartier`, `wp_postmeta` AS `street`, `wp_postmeta` AS `number`, `wp_postmeta` AS `block`

			WHERE `wp_posts`.`post_type` = 'listing'

			AND	`wp_posts`.`ID` = `event`.`post_id`
            AND `wp_posts`.`ID` = `end`.`post_id`
            AND `wp_posts`.`ID` = `quartier`.`post_id`
            AND `wp_posts`.`ID` = `street`.`post_id`
            AND `wp_posts`.`ID` = `block`.`post_id`
            AND `wp_posts`.`ID` = `number`.`post_id`

			AND `end`.`meta_key` = 'theend'
			AND `end`.`meta_value` >".(time() - (2*24 * 60 * 60))."

			AND `wp_posts`.`post_status` = 'publish'
			
			AND `event`.`meta_key` = 'event'
			AND `event`.`meta_value` = 'on'

            AND `quartier`.`meta_key` = 'quartier'
            AND `street`.`meta_key` = 'street'
            AND `number`.`meta_key` = 'number'
            AND `block`.`meta_key` = 'block'

			GROUP BY `wp_posts`.`ID`
			ORDER BY `enddate` ASC";

            $wpdb->query("SET SQL_BIG_SELECTS=1");
			$calendar = $wpdb->get_results($query, ARRAY_A);

            $thequartier = array();
                $thestreet = array();
                $theblock = array();
                $thenumber = array();

            foreach ($calendar as $key => $row) {
                $enddate[$key]  = $row['enddate'];
                $thequartier[$key]  = $row['thequartier'];
                $thestreet[$key] = $row['thestreet'];
                $theblock[$key] = $row['theblock'];
                $thenumber[$key] = $row['thenumber'];
            }

            // Sort the data with volume descending, edition ascending
            array_multisort($enddate, SORT_ASC,$thequartier, SORT_ASC, $theblock, SORT_ASC, $thestreet, SORT_ASC, $thenumber, SORT_ASC, $calendar);

    

			foreach($calendar as $event){
				$thevenue = get_post_meta($event['ID'], 'thevenue', true);
				$oneoff = get_post_meta($event['ID'], 'oneoff', true);
                if( $oneoff == 'on' ){
                    $area = get_post_meta($event['ID'], 'quartier', true);
                    $venue = get_post_meta($event['ID'], 'thevenuename', true);
                    $address = get_post_meta($event['ID'], 'address', true);
                    $address2 = get_post_meta($event['ID'], 'address2', true);
                    $city = get_post_meta($event['ID'], 'city', true);
                    $state = get_post_meta($event['ID'], 'state', true);
                    $phone = get_post_meta($event['ID'], 'phone', true);
                    $website = get_post_meta($event['ID'], 'thewebsite', true);
                    $directlink = get_post_meta($event['ID'], 'direct_link', true);
                }else{
                    $area = get_post_meta($thevenue, 'quartier', true);
                    $venue = get_the_title($thevenue);
                    $address = get_post_meta($thevenue, 'address', true);
                    $address2 = get_post_meta($thevenue, 'address2', true);
                    $city = get_post_meta($thevenue, 'city', true);
                    $state = get_post_meta($thevenue, 'state', true);
                    $phone = get_post_meta($thevenue, 'phone', true);
                    $website = get_post_meta($thevenue, 'thewebsite', true);
                    $directlink = get_post_meta($thevenue, 'direct_link', true);
                }
				$title = get_the_title($event['ID']);
                $webstart = substr($website, 0, 7);
                if ( $webstart != 'http://'){
                $website = 'http://'.$website;
                }
				$notes = get_post_meta($event['ID'], 'notes', true);
				$opening =  date("F d", get_post_meta($event['ID'], 'thestart', true));
				$ending = date("F d", get_post_meta($event['ID'], 'theend', true));
                $date = $opening;
                if($title){
                if ($date != $lastdate){ ?>
                <h2><?php echo $opening ?></h2>
                <?php }
				?>
				<div class="listing" style="padding-bottom:20px">
					<div id="title_<?php echo $event['ID']?>" class="info">
						<strong><?php echo $title ?> at <?php if($website !== ''){ ?><a target="_blank" href="<?php echo $website; ?>"> <?php } ?><?php echo $venue ?><?php if($website !== ''){ ?></a><?php } ?></strong><br>
                        <?php echo $address ?><?php if($address2){ echo " ".$address2; } ?>, <?php if ($area >= 300){ echo $city.', '.$state; }else{ echo cityName($area);} ?> <?php echo $phone ?>
					</div>
                    <div class="notes">
                    <?php echo $notes ?>
                    </div>
				</div>
			
				<?php
            $lastdate = $date;
			}}
			?>
		</div>