<?php 
        date_default_timezone_set('America/New York'); 



//OPENING AND CLOSING THIS WEEK
			$today_long = date('l');
			$today = date('N', strtotime("-5 hours"));
			$daysoftheweek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];

            $tempDate = date('F j Y', strtotime('-5 hours'));

			$days = array();
			foreach($daysoftheweek as $day){
				if($today > date('N', strtotime($day)) ){
					$days[] = date('U', strtotime('Last '. $day));
				}else if ($today == date('N', strtotime($day)) ) {
					$days[] = date('U', strtotime($tempDate));
                } else{
					$days[] = date('U', strtotime($day));
				}
			}
         
            for ( $i = 1; $i <8; $i++){
                if ( $i < $today ){
                    $featureddays[] = date( 'D F j', strtotime('last ' . $daysoftheweek[$i]. ' noon') );
                } else {
                    $featureddays[] = date( 'D F j', strtotime($daysoftheweek[$i]) );  
                }
            }

            for ( $i = 1; $i <8; $i++){
                if ( $i < $today ){
                    $featureddays[] = date( 'D F j', strtotime('next ' . $daysoftheweek[$i]. ' noon') );
                } else if ( $i > $today ) {
                    $featureddays[] = date( 'D F j', strtotime($daysoftheweek[$i] . '+1 week') );  
                } else if ( $i = $today ) {
                    $featureddays[] = date( 'D F j', strtotime($tempDate) );  
                }
            }
            
            






$total=0;
$offset=0;
$args = array(
				'post_type' => 'listing',
				'post_status'  => 'publish',
				'orderby' => 'modified',
				'order' => 'ASC',
                'posts_per_page' => -1,
				'meta_query' => array(
                    array(
                        'key' => 'featured_calendar',
                        'value' => 'on',
                        'compare' => '='
                    )
                )
			);	
$featured = new WP_Query($args);
$num = $featured->post_count;
$numero = 0;
$dates = [];
if ($featured->have_posts()) : while ($featured->have_posts()) : $featured->the_post();
    $featured_date = get_post_meta($post->ID, 'featured_date', true);
    if( $featured_date != '' ){ // each featured post adds their date to the selecteddate array
        $date = date('D F j', strtotime( $featured_date ));
        for ( $i = 0; $i <14; $i++){
                if ( $date == $featureddays[$i] ){
                    $dates[$i] = $numero;
                }
            }
    }
$numero++;
endwhile;
endif;

for ( $i = 0; $i < $today ; $i++){  // If a show is defined for next week, and the day is passed, copy it
            if ( $dates[$i + 7] != '' ){
                    $dates[$i] = $dates[$i + 7];
                }
}

$numero = 0;
for($i = 0; $i < 7 ; $i++){     // Test if all featured listings are defined
    if ( ! isset($dates[$i]) ){
        if ( ! in_array($numero, $dates) ){
            $dates[$i] = $numero;
        } else{
            do {
                $numero++;
            } while (in_array($numero, $dates));
            $dates[$i] = $numero;
        }
        $numero++;    
    }
}

?>

<section ng-controller="dayController as day" data-ng-init="day.setToday(<?php echo $today ?>)">
 			
        <span class="nunito" ng-class="{ active:day.isSet(1) }">
        	<a href="" ng-click="day.setDay(1)">Monday</a>
        </span>

		<span class="nunito" style="margin-left:12px" ng-class="{ active:day.isSet(2) }">
			<a href="" ng-click="day.setDay(2)">Tuesday</a>
		</span>

		<span class="nunito" style="margin-left:12px" ng-class="{ active:day.isSet(3) }">
			<a href="" ng-click="day.setDay(3)">Wednesday</a>
		</span>

		<span class="nunito" style="margin-left:12px" ng-class="{ active:day.isSet(4) }">
			<a href="" ng-click="day.setDay(4)">Thursday</a>
		</span>

		<span class="nunito" style="margin-left:12px" ng-class="{ active:day.isSet(5) }">
			<a href="" ng-click="day.setDay(5)">Friday</a>
		</span>

		<span class="nunito" style="margin-left:12px" ng-class="{ active:day.isSet(6) }">
			<a href="" ng-click="day.setDay(6)">Saturday</a>
		</span>

		<span class="nunito" style="margin-left:12px" ng-class="{ active:day.isSet(7) }">
			<a href="" ng-click="day.setDay(7)">Sunday</a>
		</span>


		<hr style="background-color:white;"/>



	
<div id="bycalendar">
	
			<?php

function cityName($numero) {
            if ($numero < "220" && $numero >= "10") {
                    return "New York, NY";
            } elseif ($numero < "270" && $numero >= "220") {
                    return "Brooklyn, NY";
            } elseif ($numero < "280" && $numero >= "270") {
                    return "Queens, NY";
            } elseif ($numero < "290" && $numero >= "280") {
                    return "The Bronx, NY";
            } elseif ($numero < "300" && $numero >= "290") {
                    return "Staten Island, NY";
            } elseif ($numero < "370" && $numero >= "330") {
                    return "Philadelphia, PA";
            } else {
                return "";
            }
            }



			


function unique_multidim_array($array, $key){
    $temp_array = array();
    $i = 0;
    $key_array = array();
    
    foreach($array as $val){
        if(!in_array($val[$key],$key_array)){
            $key_array[$i] = $val[$key];
            $temp_array[$i] = $val;
        }
        $i++;
    }
    return $temp_array;
}
            





			for($i = 1; $i < 8; $i++){
				
				//get listings
				$query = "SELECT `wp_posts`.`post_title` , `wp_posts`.`ID` , `end`.`meta_value` AS `enddate` , `quartier`.`meta_value` AS `thequartier`, `street`.`meta_value` AS `thestreet`, `number`.`meta_value` AS `thenumber`, `block`.`meta_value` AS `theblock`
                FROM `wp_posts` , `wp_postmeta` AS `end` , `wp_postmeta` AS `quartier`, `wp_postmeta` AS `street`, `wp_postmeta` AS `number`, `wp_postmeta` AS `block`

                WHERE `wp_posts`.`post_type` = 'listing'

                AND `wp_posts`.`ID` = `end`.`post_id`
                AND `wp_posts`.`ID` = `quartier`.`post_id`
                AND `wp_posts`.`ID` = `street`.`post_id`
                AND `wp_posts`.`ID` = `block`.`post_id`
                AND `wp_posts`.`ID` = `number`.`post_id`

                AND `end`.`meta_key` = 'theend'
                AND CAST(`end`.`meta_value` AS UNSIGNED) = ".$days[$i]."

                AND `quartier`.`meta_key` = 'quartier'
                AND `street`.`meta_key` = 'street'
                AND `number`.`meta_key` = 'number'
                AND `block`.`meta_key` = 'block'

                AND `wp_posts`.`post_status` = 'publish'

                GROUP BY `wp_posts`.`ID`
                ORDER BY `thequartier` + 0 ASC";
            
                $wpdb->query("SET SQL_BIG_SELECTS=1");
                $endingcalendar = $wpdb->get_results($query, ARRAY_A);
                
                $thequartier = array();
                $thestreet = array();
                $theblock = array();
                $thenumber = array();

                foreach ($endingcalendar as $key => $row) {
                    $thequartier[$key]  = $row['thequartier'];
                    $thestreet[$key] = $row['thestreet'];
                    $theblock[$key] = $row['theblock'];
                    $thenumber[$key] = $row['thenumber'];
                }

                // Sort the data with volume descending, edition ascending
                array_multisort($thequartier, SORT_ASC, $theblock, SORT_ASC, $thestreet, SORT_ASC, $thenumber, SORT_ASC, $endingcalendar);



                // OPENING CALENDAR

                $query = "SELECT `wp_posts`.`post_title` , `wp_posts`.`ID` , `start`.`meta_value` AS `startdate`, `reception`.`meta_value` AS `thereception` , `quartier`.`meta_value` AS `thequartier`, `street`.`meta_value` AS `thestreet`, `number`.`meta_value` AS `thenumber`, `block`.`meta_value` AS `theblock`
                FROM `wp_posts` , `wp_postmeta` AS `start`, `wp_postmeta` AS `reception` , `wp_postmeta` AS `quartier`, `wp_postmeta` AS `street`, `wp_postmeta` AS `number`, `wp_postmeta` AS `block`

                WHERE `wp_posts`.`post_type` = 'listing'

                AND `wp_posts`.`ID` = `start`.`post_id`
                AND `wp_posts`.`ID` = `reception`.`post_id`
                AND `wp_posts`.`ID` = `quartier`.`post_id`
                AND `wp_posts`.`ID` = `street`.`post_id`
                AND `wp_posts`.`ID` = `block`.`post_id`
                AND `wp_posts`.`ID` = `number`.`post_id`

                AND `start`.`meta_key` = 'thestart'
                AND `reception`.`meta_key` = 'thereception'
                AND ((CAST(`start`.`meta_value` AS UNSIGNED) = ".$days[$i].") || (CAST(`reception`.`meta_value` AS UNSIGNED) = ".$days[$i]."))

                AND `quartier`.`meta_key` = 'quartier'
                AND `street`.`meta_key` = 'street'
                AND `number`.`meta_key` = 'number'
                AND `block`.`meta_key` = 'block'

                AND `wp_posts`.`post_status` = 'publish'

                GROUP BY `wp_posts`.`ID`
                ORDER BY `thequartier` + 0 ASC";
            
                $wpdb->query("SET SQL_BIG_SELECTS=1");
                $openingcalendar = $wpdb->get_results($query, ARRAY_A);
                
                $thequartier = array();
                $thestreet = array();
                $theblock = array();
                $thenumber = array();

                foreach ($openingcalendar as $key => $row) {
                    $thequartier[$key]  = $row['thequartier'];
                    $thestreet[$key] = $row['thestreet'];
                    $theblock[$key] = $row['theblock'];
                    $thenumber[$key] = $row['thenumber'];
                }

                // Sort the data with volume descending, edition ascending
                array_multisort($thequartier, SORT_ASC, $theblock, SORT_ASC, $thestreet, SORT_ASC, $thenumber, SORT_ASC, $openingcalendar);
                
		
				?>

     	<div ng-show="day.isSet(<?php echo $i ?>)">
			
			<h1 ><?php echo date('l, F j', $days[$i])?></h1>
			<hr style="background-color:#f04848; margin-top:2px;">

			<div id="days-full" class="listing_list-new">

				<div class="day-column" >
<?php     
                $offset = $dates[$i-1];

			if (isset( $featured->posts[$offset] )):
                $featured->rewind_posts();
                $featured->current_post = $offset -1;
                $featured->the_post();
                $openingraw = get_post_meta($post->ID, 'thestart', true);
                if ($openingraw) {$opening =  date("F d", $openingraw);} else {$opening = '';}
                $endingraw = get_post_meta($post->ID, 'theend', true);
                if ($endingraw) {$ending =  date("F d", $endingraw);} else {$ending = '';}
                $review = get_post_meta($post->ID, 'review', true);
				$notes = get_post_meta($post->ID, 'notes', true);
				$thevenue = get_post_meta($post->ID, 'thevenue', true);
                $website = get_post_meta($post->ID, 'website', true);
                $oneoff = get_post_meta($post->ID, 'oneoff', true);
                if( $oneoff == 'on' ){
                    $venue = get_post_meta($post->ID, 'thevenuename', true);
                    $address = get_post_meta($post->ID, 'address', true);
                    $address2 = get_post_meta($post->ID, 'address2', true);
                    $city = get_post_meta($post->ID, 'city', true);
                    $state = get_post_meta($post->ID, 'state', true);
                    $phone = get_post_meta($post->ID, 'phone', true);
                    $directlink = get_post_meta($post->ID, 'direct_link', true);
                }else{
                    $venue = get_the_title($thevenue);
                    $address = get_post_meta($thevenue, 'address', true);
                    $address2 = get_post_meta($thevenue, 'address2', true);
                    $city = get_post_meta($thevenue, 'city', true);
                    $state = get_post_meta($thevenue, 'state', true);
                    $phone = get_post_meta($thevenue, 'phone', true);
                    $directlink = get_post_meta($thevenue, 'direct_link', true);
                }
			?>
				<div id="featured_hood">
					<div id="thumb-new">
				<?php the_post_thumbnail(); ?>
					</div>
					<h3><?php the_title()?></h3>
                    <h2><?php echo $opening; 
                        if ($opening != $ending) {
                            echo ' to '.$ending; } ?></h2>
					<div id="gallery" class="info"><?php if($website !== ''){ ?><a target="_blank" href="<?php echo $website?>"><?php } ?><?php echo $venue ?><?php if($website !== ''){ ?></a><?php } ?></div>
					<div id="address" class="info"><?php echo $address; ?><?php if($address2 != ''){echo ' ' . $address2;}; ?>, <?php echo $city.', '.$state; ?></div>
					<div id="phone" class="info"><?php echo $phone; ?></div>
					<div id="excerpt">
						<?php the_excerpt();?>
                        <?php
					if($review != ""){echo '<a href="'.$review.'" target="_blank" class="listingReview">Review</a>';}
					?>
					</div>
                    <div class="notes">
                    <?php echo $notes ?>
                    </div>
					<div class="info">
						<?php
						if($directlink == 'on'){
							?>
							<a href="<?php echo $website?>" target="_blank"><?php echo $website?></a>
							<?php
						}else{
							?>
							<?php echo $website?>
							<?php
						}
						?>
                        
                    
					
					</div>
				</div>
				<?php
            if ($offset >= $num - 1){
                $offset = 0;
            } else {
            $offset++;
            }
			endif;
			?>


				</div>

				<div class="day-list" >
					<h3>Opening</h3>
			<?php 
			if (!empty($openingcalendar)){
						
						foreach($openingcalendar as $event){
							$thevenue = get_post_meta($event['ID'], 'thevenue', true);
                            $oneoff = get_post_meta($event['ID'], 'oneoff', true);
                            $review = get_post_meta($event['ID'], 'review', true);
                            if( $oneoff == 'on' ){
                                $area = get_post_meta($event['ID'], 'quartier', true);
                                $venue = get_post_meta($event['ID'], 'thevenuename', true);
                                $address = get_post_meta($event['ID'], 'address', true);
                                $address2 = get_post_meta($event['ID'], 'address2', true);
                                $city = get_post_meta($event['ID'], 'city', true);
                                $state = get_post_meta($event['ID'], 'state', true);
                                $phone = get_post_meta($event['ID'], 'phone', true);
                                $website = get_post_meta($event['ID'], 'thewebsite', true);
                                $directlink = get_post_meta($event['ID'], 'direct_link', true);
                            }else{
                                $area = get_post_meta($thevenue, 'quartier', true);
                                $venue = get_the_title($thevenue);
                                $address = get_post_meta($thevenue, 'address', true);
                                $address2 = get_post_meta($thevenue, 'address2', true);
                                $city = get_post_meta($thevenue, 'city', true);
                                $state = get_post_meta($thevenue, 'state', true);
                                $phone = get_post_meta($thevenue, 'phone', true);
                                $website = get_post_meta($thevenue, 'thewebsite', true);
                                $directlink = get_post_meta($thevenue, 'direct_link', true);
                            }
							$title = get_the_title($event['ID']);
                            $webstart = substr($website, 0, 7);
                            if ( $webstart != 'http://'){
                            $website = 'http://'.$website;
                            }
                            $receptionnotes = get_post_meta($event['ID'], 'receptionnotes', true);
							$notes = get_post_meta($event['ID'], 'notes', true);
                            $openingraw = get_post_meta($event['ID'], 'thestart', true);
							if ($openingraw) {$opening =  date("F d", $openingraw);} else {$opening = 'TBA';}
                            $receptionnum = get_post_meta($event['ID'], 'thereception', true);
                            if ($receptionnum){$reception = date("F d", $receptionnum );}else{$reception = $opening;}
                            $endingraw = get_post_meta($event['ID'], 'theend', true);
							if ($endingraw) {$ending = date("F d", $endingraw);} else {$ending = 'TBA';}
                            if (($opening != $ending || $opening == 'TBA' )  && $title){
							?>
							<div class="listing">
								<div id="title_<?php echo $event['ID']?>" class="info">
						<strong><?php echo $title ?> at <?php if($website !== ''){ ?><a target="_blank" href="<?php echo $website?>"><?php } ?><?php echo $venue ?><?php if($website !== ''){ ?></a><?php } ?></strong><br>
                        <?php echo $address ?><?php if($address2){ echo " ".$address2; } ?>, <?php if ($area >= 300){ echo $city.', '.$state; }else{ echo cityName($area);} ?> <?php echo $phone ?> - <?php echo $opening ?> to <?php echo $ending ?><?php
					if($review != ""){echo ' - <a href="'.$review.'" target="_blank" class="listingReview">Review</a>';}
					?>
                                    <?php 
                                    if($notes != "" || $receptionnotes != "" || $reception !== $opening){
                                    echo '<br><div class="notes">';
                                    if ($receptionnotes != "" || $reception !== $opening) {
                                        echo 'Reception: ';
                                    }
                                    if ($reception !== $opening){ 
                                        echo $reception.' ';
                                        }
                                    if($receptionnotes != "" && (time() - 60 * 60 * 24) < $receptionnum){echo $receptionnotes;}
                                    if($receptionnotes != "" && $notes != ""){echo ' / ';}
                                    echo $notes.'</div>';
                                        }
                                    ?>
					</div>
							</div>
							<?php
						}}
					} else{
						echo "<em>No event is opening on this day.</em>";
					}?>

                    
                    
                    <?php if (!empty($endingcalendar)){
                            $temp = 0; 
						foreach($endingcalendar as $event){
							$thevenue = get_post_meta($event['ID'], 'thevenue', true);
                            $oneoff = get_post_meta($event['ID'], 'oneoff', true);
                            if( $oneoff == 'on' ){
                                $area = get_post_meta($event['ID'], 'quartier', true);
                                $venue = get_post_meta($event['ID'], 'thevenuename', true);
                                $address = get_post_meta($event['ID'], 'address', true);
                                $address2 = get_post_meta($event['ID'], 'address2', true);
                                $city = get_post_meta($event['ID'], 'city', true);
                                $state = get_post_meta($event['ID'], 'state', true);
                                $phone = get_post_meta($event['ID'], 'phone', true);
                                $website = get_post_meta($event['ID'], 'thewebsite', true);
                                $directlink = get_post_meta($event['ID'], 'direct_link', true);
                            }else{
                                $area = get_post_meta($thevenue, 'quartier', true);
                                $venue = get_the_title($thevenue);
                                $address = get_post_meta($thevenue, 'address', true);
                                $address2 = get_post_meta($thevenue, 'address2', true);
                                $city = get_post_meta($thevenue, 'city', true);
                                $state = get_post_meta($thevenue, 'state', true);
                                $phone = get_post_meta($thevenue, 'phone', true);
                                $website = get_post_meta($thevenue, 'thewebsite', true);
                                $directlink = get_post_meta($thevenue, 'direct_link', true);
                            }
							$title = get_the_title($event['ID']);
                            $webstart = substr($website,0, 7);
                            if ( $webstart != 'http://'){
                            $website = 'http://'.$website;
                            }
                            $receptionnotes = get_post_meta($event['ID'], 'receptionnotes', true);
                            $receptionnum = get_post_meta($event['ID'], 'thereception', true);
							$notes = get_post_meta($event['ID'], 'notes', true);
                            $openingraw = get_post_meta($event['ID'], 'thestart', true);
							if ($openingraw) {$opening =  date("F d", $openingraw);} else {$opening = '';}
                            $endingraw = get_post_meta($event['ID'], 'theend', true);
							if ($endingraw) {$ending = date("F d", $endingraw);} else {$ending = '';}
							if ($opening == $ending  && $title){
                            if ($temp == 0){
                            ?>
                <hr style="background-color:#fff; margin-top:20px;">	
				<h3>Lectures/Events</h3>
                    <?php
                            }
							?>
							<div class="listing">
								<div id="title_<?php echo $event['ID']?>" class="info">
						<strong><?php echo $title ?> at <?php if($website !== ''){ ?><a target="_blank" href="<?php echo $website?>"><?php } ?><?php echo $venue ?><?php if($website !== ''){ ?></a><?php } ?></strong><br>
                        <?php echo $address ?><?php if($address2){ echo " ".$address2; } ?>, <?php if ($area >= 300){ echo $city.', '.$state; }else{ echo cityName($area);} ?> <?php echo $phone ?> - <?php echo $opening ?>
                                    <?php 
                                    if($notes != "" || $receptionnotes != ""){
                                    echo '<br><div class="notes">';
                                    if($receptionnotes != "" && (time() - 60 * 60 * 24) < $receptionnum){echo $receptionnotes.' / ';}
                                    if($receptionnotes != "" && $notes != ""){echo ' / ';}
                                    echo $notes.'</div>';
                                        }
                                    ?>
					</div>
							</div>
							<?php
                        $temp++;
						}}
            }?>


                    
                    
                    
					<?php if (!empty($endingcalendar)){
                            $temp = 0; 
						foreach($endingcalendar as $event){
							$thevenue = get_post_meta($event['ID'], 'thevenue', true);
							$oneoff = get_post_meta($event['ID'], 'oneoff', true);
                            if( $oneoff == 'on' ){
                                $area = get_post_meta($event['ID'], 'quartier', true);
                                $venue = get_post_meta($event['ID'], 'thevenuename', true);
                                $address = get_post_meta($event['ID'], 'address', true);
                                $address2 = get_post_meta($event['ID'], 'address2', true);
                                $city = get_post_meta($event['ID'], 'city', true);
                                $state = get_post_meta($event['ID'], 'state', true);
                                $phone = get_post_meta($event['ID'], 'phone', true);
                                $website = get_post_meta($event['ID'], 'thewebsite', true);
                                $directlink = get_post_meta($event['ID'], 'direct_link', true);
                            }else{
                                $area = get_post_meta($thevenue, 'quartier', true);
                                $venue = get_the_title($thevenue);
                                $address = get_post_meta($thevenue, 'address', true);
                                $address2 = get_post_meta($thevenue, 'address2', true);
                                $city = get_post_meta($thevenue, 'city', true);
                                $state = get_post_meta($thevenue, 'state', true);
                                $phone = get_post_meta($thevenue, 'phone', true);
                                $website = get_post_meta($thevenue, 'thewebsite', true);
                                $directlink = get_post_meta($thevenue, 'direct_link', true);
                            }
							$title = get_the_title($event['ID']);
                            $webstart = substr($website, 0, 7);
                            if ( $webstart != 'http://'){
                            $website = 'http://'.$website;
                            }
							$receptionnotes = get_post_meta($event['ID'], 'receptionnotes', true);
                            $receptionnum = get_post_meta($event['ID'], 'thereception', true);
                            $notes = get_post_meta($event['ID'], 'notes', true);
                            $openingraw = get_post_meta($event['ID'], 'thestart', true);
                            if ($openingraw) {$opening =  date("F d", $openingraw);} else {$opening = 'TBA';}
                            $endingraw = get_post_meta($event['ID'], 'theend', true);
							if ($endingraw) {$ending = date("F d", $endingraw);} else {$ending = 'TBA';}
							if (($opening != $ending || $opening == 'TBA' )  && $title){
                            if ($temp == 0){
                            ?>
                <hr style="background-color:#fff; margin-top:20px;">	
				<h3>Closing</h3>
                    <?php
                            }
							?>
							<div class="listing">
								<div id="title_<?php echo $event['ID']?>" class="info">
						<strong><?php echo $title ?> at <?php if($website !== ''){ ?><a target="_blank" href="<?php echo $website?>"><?php } ?><?php echo $venue ?><?php if($website !== ''){ ?></a><?php } ?></strong><br>
                        <?php echo $address ?><?php if($address2){ echo " ".$address2; } ?>, <?php if ($area >= 300){ echo $city.', '.$state; }else{ echo cityName($area);} ?> <?php echo $phone ?> - <?php echo $opening ?> to <?php echo $ending ?>
                        
                        <?php 
                        if($notes != "" || $receptionnotes != ""){
                                    echo '<br><div class="notes">';
                                    if($receptionnotes != "" && (time() - 60 * 60 * 24) < $receptionnum){echo $receptionnotes.' / ';}
                                    if($receptionnotes != "" && $notes != ""){echo ' / ';}
                                    echo $notes.'</div>';
                                        }
                        ?>
					</div>
							</div>
							<?php
                        $temp++;
						}}
            
					}

					?>
                    
                    

					<br>

				</div>
			</div>
		</div>
					
				<?php
            $total++;
			}
			?>
			
</div>
</section>


