<?php
			$args = array(
				'post_type' => 'listing',
				'post_status'  => 'publish',
				'post__not_in' => array($post->ID),
				'orderby' => 'date',
				'order' => 'DESC',
				'meta_key' => 'featured_calendar',
				'meta_value' => 'on',
				'posts_per_page' => 1
			);	
			$featured = new WP_Query($args);
			if ($featured->have_posts()) : while ($featured->have_posts()) : $featured->the_post();
				$thevenue = get_post_meta($post->ID, 'thevenue', true);
				$notes = get_post_meta($event['ID'], 'notes', true);
				$website = get_post_meta($post->ID, 'website', true);
				$directlink = get_post_meta($thevenue, 'direct_link', true);
			?>
				<div id="featured" ng-show="day.isSet(<?php echo $i ?>)">
					<div id="thumb-new">
				<?php the_post_thumbnail(); ?>
					</div>
					<h2><?php the_title()?></h2>
					<div id="gallery" class="info"><?php echo get_venue_link($thevenue); ?></div>
					<div id="address" class="info"><?php echo get_post_meta($post->ID, 'address', true)?></div>
					<div id="phone" class="info"><?php echo get_post_meta($post->ID, 'phone', true)?></div>
					<div id="excerpt">
						<?php the_excerpt();?>
					</div>
					<div class="info">
						<?php
						if($directlink == 'on'){
							?>
							<a href="<?php echo $website?>"><?php echo $website?></a>
							<?php
						}else{
							?>
							<?php echo $website?>
							<?php
						}
						?>
					</div>
					<?php
					if($notes != ""){
						echo '
							<div class="notes">
							'.$notes.'
							</div>
						';
					}
					?>
				</div>
				<?php

			endwhile;
			endif;
			?>