.banner{
  position: fixed;
  background: theme-color(white);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;

  &.active{
    display: flex;
    flex-flow: column;
    height: 100%;

    #bottommenucontainer{
      display: block;
      overflow: scroll;
    }
  }
}

#rightSection{
  padding-left: $grid-gutter / 2;
}

#search_follow{
  padding-bottom: 5px;
}

#menu{ 
  position: relative;
  width: 100%;

  a, a>li{
    text-decoration: none;
    cursor:pointer;
  }

  ul{
    display:flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
    list-style: none;
    
    li{
      position: relative;
      padding:10px 10px;
      margin-right: 5px;
      text-transform:uppercase;
      line-height: 1em;
      font-weight: 600;

      &:hover{
        cursor: pointer;

        .ddcontent{
          display: block;
          opacity: 1;
        }
      }
      
      a{
        text-decoration:none;
      }
    }

  }
    @include media-breakpoint-up(md){
      width: auto;
      
      ul{
        flex-flow: row;

        li{
          color:theme-color(white);
          font-weight: 300;
        }
      }
    }

}

#submenu{
	font-size: 1em;
  text-align: center;

    a{
        text-decoration:none;
        color:inherit;
    }
}

#topmenucontainer{
  border-bottom: 1px solid theme-color(grey);

  .row{
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  #logo{
    padding-top: 10px;
    padding-bottom: 10px;

    img{
      height: 50px;
      width: auto;
      
      @include media-breakpoint-up(md){
        height: 70px;
      }
    }
  }

  #hamburgerWrap{
    flex: 0;

  }
  
  .hamburger{
    &:focus{
      outline: 0;
    }
  }

  .ad-space{
    display: none;
  }

  @include media-breakpoint-up(md){
    border: 0;

    .ad-space{
      display: block;
    }

    .hamburger{
      display: none;
    }
  }
}

#bottommenucontainer{
  display: none;
  padding: 10px 0;
  box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.1);

  @include media-breakpoint-up(md){
    display: block;
    padding-bottom: 0;
    box-shadow: none;

    .container{
      padding-bottom: 5px;
      border-bottom: 1px solid theme-color(grey);
    }

    .row{
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}

#menucontainer{
  height:50px;
}

.ddcontent{
  background:#FFFFFF; 
  z-index:200; 
  color:black;
  text-transform:uppercase;
  font-weight: 300;

  &.active{
    opacity:1;
    display: block;
  }

  a{
    color:#b70a00;
    display:block;
    font-size:9px; 
    padding:10px; 
    text-decoration:none;
  
    &:hover{
      background-color:#b70a00; 
      color:white!important;
    }
  }

  .subhead{
    color:gray;
    display:block;
    font-size:9px; 
    padding:10px; 
    text-decoration:none; 
    font-weight:bold;
  }
  
  .submenu{
    padding-left:20px;
    text-decoration:none; 
  }

  &.fe_dropdown{
    a{
      color:#9f0900;
    
      &:hover{
        background-color:#9f0900; 
      }
    }
  }

  &.aw_dropdown{
    a{
      color:#990218;
  
      &:hover{
        background-color:#990218; 
      }
    }
  }

  &.de_dropdown{
    .de_dropdown a{
      color:#8a0700;
  
      &:hover{
        background-color:#8a0700;
      }
    }
  }

  &.rp_dropdown{
    a{
      color:#770600;
    
      &:hover{
        background-color:#770600;
      }
    }
  }

  &.tl_dropdown{
    a{
      color:#d70b00;
      &:hover{
        background-color:#d70b00;
      }
    }
  }

  @include media-breakpoint-up(md){
    display:none;
    opacity:0;
    position:absolute; 
    width:300px;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    box-shadow: 2px 2px 2px #805050;
    
    &.tl_dropdown{
      width:150px; 
    }
  }
}

.color_thelist{color:#d70b00;}
.color_criticism{color:#b70a00;}
.color_features{color:#9f0900;}
.color_artworld{color:#990218}
.color_departments{color:#8a0700}
.color_reviewpanel{color:#770600;}
.color_the-review-panel {color:#f22121;}

@include media-breakpoint-up(md){
  .color_thelist{background:#d70b00;}
  .color_criticism{background:#b70a00;}
  .color_features{background:#9f0900;}
  .color_artworld{background:#990218}
  .color_departments{background:#8a0700}
  .color_reviewpanel{background:#770600;}
  .color_the-review-panel {background:#f22121;}
}