

.home{
    #cover_caption{
        margin-bottom: 10px;
    }
    
    .cover{
        width:100px;
        float:left;
        padding:10px;
    }

    #cover{
        margin: $grid-gutter / 2 0;

        #cover_feature{
            @extend h3;
            margin-top: 10px;
        }
    }
    #cover_full{
        padding-top:10px;
    }

    #close_cover{
        display: none; 

        @include media-breakpoint-up(md){
            display: block;
        }

        a{
            font-size:10px; 
            text-decoration:none; 
            color:#993333;
            cursor: pointer;
        }
    }

    #threefeatured{
        padding-bottom: $grid-gutter / 2;
        
        #images{
            position: relative;
            margin-right:2px;
            height: 0;
            padding-top: 56%;
        }

        .image{
            width: 100%;
            height: 0;
            padding-top: 56%;
            position: absolute;
            top: 0;
        }

        #excerpts{
            margin-right:2px;
        }

        .theexcerpt{
            height:100px;
            overflow:hidden; 
            padding:4px;
            border-left: solid white 5px; 
            font-size:13px; 
            color:#636161; 
            border-bottom:#ddd dotted 1px;

            &.selected{
                border-left: solid #9f3e3e 5px; 
                background:#f2f2f2;
            }
        
        .title_excerpt{
            height:90px;

            .title a{
                font-size:13px; 
                font-weight:bold; 
                color:#3d3b3b; 
                text-decoration:none;
            
            &:hover{
                color:#4e4e4e; 
            }
        }

            .author{
                font-style:italic;
                color:#888;
                margin-top:-1px;
            }
        }

        .read_more {text-align:right; }
            a{
                color:#993333; 
                font-weight:bold; 
                text-decoration:none; 
                font-size:10px;

                &:hover{
                    color:#882222;
                }
            }
        }

        #cover_info{
            display: none;
            
            @include media-breakpoint-up(md){
                display: block;
                background:#dcd3d3;
                font-size:11px;
                padding:2px;
            }
        }

        #cover_image{
            text-align:center;
            padding:6px;
        }

        #coverdescription{
            padding:6px;
            height:290px;
        }

        #fullimage{
            text-decoration:none;
            color:#993333; 
            position:relative; 
            left:6px;
            cursor: pointer;
        }
    }
}

.smallpost{
    display: flex;
    margin-bottom: $grid-gutter / 2;

    .thumb{
        width:70px;
    }

    .snippet{
        padding-left: $grid-gutter / 3;
    }

    .date {
        color:#7c7c7c;

        .author{
            text-transform:uppercase;
        }
    }

    a{
        color:#292929; 
        text-decoration:none; 
        font-weight:bold; 
    }
}

.archive{
    .suggested_post{
        div.title{
            font-size:16px;
            font-weight:bold;
            margin-bottom:5px; 
            
            a{
                color:inherit;
                text-decoration:none;

                &:hover{
                    color:inherit;
                    text-decoration:underline;
                }
            }
        }

        .author{
            margin-bottom: 10px;
        }

        div.thumb{
            min-height: 200px;
            margin-bottom:10px;
        }

        div.excerpt{
            padding-bottom:10px; 
            color:#333;
        }
    }
}