.single{
    .wrap.container{
        max-width:950px;
    }

    header{
        h1{
            font-size: 2em;
            color: theme-color(criticism);
        }

        .print a {
            color: #999; 
            font-size: .8em; 
        }
    }

    .wp-block-image{
        margin-bottom: $grid-gutter;
    }

    figcaption{
        font-size: .8em;
    }

    p{
        line-height: 1.6em;
        font-size: 16px;
    }

    @include media-breakpoint-down(sm){
        .wp-caption.alignleft{
            width: 100%!important;

            img{
                width: 100%;
            }
        }
    }
}