/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  black: #000000,
  primary: #993333,
  criticism: #993333,
  white: #ffffff,
  grey: #ccc,
  darkgrey: #838383,
  lightgrey: #ddd,
);

$grid-gutter: 50px;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
